.Apply-header {
    background-color: #463066; /* MNSU Dark Purple */
    color: #ffc422; /* MNSU Gold */
    text-align: left;
    padding: 50px 0;
}

.Apply-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.Apply-subtitle {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 10px;
}

.faq-header {
    background-color: #463066; /* MNSU Dark Purple */
    color: #ffc422; /* MNSU Gold */
    text-align: center;
    padding: 50px 0;
}

.faq-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.faq-subtitle {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 10px;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
